NEXT_PUBLIC_SUPABASE_URL=http://IP:PORT
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

PREYO_REMOTE_HOST=IP
PREYO_REMOTE_USER=USER
PREYO_REMOTE_SUPABASE_PATH=/supabase/docker
PREYO_REMOTE_TMP_DIR=/tmp/
PREYO_DB_SERVICE=
PREYO_DB_USER=
PREYO_DB_NAME=